html {
    scroll-behavior: smooth;
  }

*{
    box-sizing: border-box;
    margin: 0px;
}
header{
    background-color: #191919;
    position: sticky;
    z-index: 1;
    top: 0px;
}
nav ul{
    display: flex;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    margin-right: 50%;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Play', sans-serif;
}
/*End of header*/

.wrap-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px 800px 800px 600px;
}

.home{
    background-color: #191919;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 50px;
}
.img-front{
    height: 400px;
    position: relative;
    right:100px;
}
.sub-real{
    color: #ffffff;
    font-size: 20px;
    padding-top: 50px;
}
.real-name{
    color: #ffdc18;
    font-size: 100px;
    padding-bottom: 50px;
}
.text-front ul li{
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
}

.about-me{
    background-color: rgb(255, 255, 255);
    padding: 100px;
}
.about-me h2{
    position: relative;
    top: -20px;
}
.about-me h3{
    padding-top: 30px;
}
.about-me p{
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio{
    background-color: #24292e;
    padding: 100px;
}
.portfolio h2{
    position: relative;
    text-align: center;
    top: -40px;
    color: #fff;
}
.projects{
    padding-bottom: 20px;
}
.projects p{
    color: #ffffff;
    padding-bottom: 20px;
}
.projects div{
    background-color: #7c7d7e;
    width: 300px;
    height: 300px;
}
.bounty p{
    padding-top: 20px;
    color: #fff;
}
.contact{
    background-color: #ffffff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-first form{
    padding-top: 20px;
}
.contact-first form label{
    padding-left: 20px;
}

.contact-first form input{
    height: 25px;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 10%;
}
.contact-first form select{
    margin-bottom: 20px;
    position: relative;
    margin-left: 8%;

}
.contact-first form textarea{
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
    height: 300px;
    width: 80%;
}
.contact-first{
    margin-right: 80px;
}

.contact-second{
    padding-top: 60px;
    padding-left: 100px;
    border-left: solid #5B6DCD 3px;
}
.contact-second ul li{
    list-style: none;
    font-size: 20px;
    padding-bottom: 10px;
}
.contact-second {
    padding-top: 60px;
}

/*end of main*/

footer{
    background-color: rgb(34, 33, 33);
}